  
<div class="container-fluid">
    <app-filtros-listagem-empresas class="filtros"
       [filtroEmpresas]="filterEmpresas"
       [idEmpresaCompetencia]="idEmpresaCompetencia"
       (onOpened)="onOpenedFiltersScreen($event)"
       (onchangData)="onchangData()"
       (onFiltred)="setFiltredData($event)"
       (changedTableColumns)="changedTableColumns()"
       [idsetor]="8"
       [showFilters]="showFilters"
    >
    </app-filtros-listagem-empresas>

      <!-- Toast componente utilizado para mostrar mensagems -->
  <p-toast></p-toast>


<p-table [value]="data.data" responsiveLayout="scroll"
id="excel-table" #dt (onLazyLoad)="loadPage($event, dt)" [paginator]="true" [rows]="10" [lazy]="true"
[totalRecords]="totaldata"
>
    <ng-template pTemplate="header">
        <tr>
            
            <th colspan="5" ></th>
            <th colspan="2"  *ngIf="setoresVisibilidadeValues['declaracoes-rh'] == true" >Declarações/RH</th>
            <th colspan="2"  *ngIf="setoresVisibilidadeValues['rh'] == true" >RH</th>
            <th colspan="4"  *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true" >Fiscal/Retenções</th>
            <th colspan="1"  *ngIf="setoresVisibilidadeValues['rh'] == true" >RH</th>

            <th colspan="3"  *ngIf="setoresVisibilidadeValues['declaracoes'] == true" >Declarações</th>
            <th colspan="2"  *ngIf="setoresVisibilidadeValues['rh-controller'] == true" >RH - Controller</th>
          
        </tr>
        <tr>
            <th rowspan="2" >Cod</th>
            <th rowspan="2">Empresa</th>
            <th rowspan="2">CNPJ</th>
            <th rowspan="2">Tributação</th>
            <th rowspan="2" >Prioridade</th>

            <th rowspan="2" *ngIf="setoresVisibilidadeValues['declaracoes-rh']" >Sem Folha</th>
            <th rowspan="2" *ngIf="setoresVisibilidadeValues['declaracoes-rh']" >RH Externo</th>

            <th colspan="2" *ngIf="setoresVisibilidadeValues['rh'] == true">E-SOCIAL</th>
            <th colspan="4" *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true" >EFD-REINF</th>
            <th rowspan="2" *ngIf="setoresVisibilidadeValues['rh'] == true" >CONFERÊNCIA</th>
            <th colspan="3" *ngIf="setoresVisibilidadeValues['declaracoes'] == true"  >DCTF WEB</th>
            <th rowspan="2" *ngIf="setoresVisibilidadeValues['rh-controller'] == true"  >DARF</th>
            <th rowspan="2" *ngIf="setoresVisibilidadeValues['rh-controller'] == true" >DARF COMP</th>
            <th rowspan="3">AÇÕES</th>
            
        </tr>
        <tr>
            <th *ngIf="setoresVisibilidadeValues['rh'] == true">OK</th>
            <th *ngIf="setoresVisibilidadeValues['rh'] == true">Retificação</th>
            
            <th *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true" >OK</th>
            <th *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true" >Sem Retenções de INSS</th>
            <th *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true"  >Retificação</th>
            <th *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true" >Desobrigar</th>
            
            <th *ngIf="setoresVisibilidadeValues['declaracoes'] == true" >OK</th>
            <th *ngIf="setoresVisibilidadeValues['declaracoes'] == true"  style="text-align: center;">Ret</th>
            <th *ngIf="setoresVisibilidadeValues['declaracoes'] == true"  style="text-align: center;">Desobrigada</th>
            
        </tr>

    </ng-template>
   
    <ng-template pTemplate="body" let-item let-expanded="expanded">
        <tr>
            <td>{{item.id_dominio}}</td>
            <td>{{item.nome_emp}}</td>
            <td>{{item.cnpj}}</td>
            <td>{{item.regime_tributacao}}</td>
            <td>{{item.prioridade}}</td>
            <td *ngIf="setoresVisibilidadeValues['declaracoes-rh'] == true" >
                <p-checkbox (onChange)="setSemfolha(item)"
                            [readonly]="!permissoesDctf['DCTF003']"
                            [binary]="true" 
                            [style]="{'text-align': 'center','align-content': 'center'}" 
                            [(ngModel)]="item.sem_folha">
                </p-checkbox></td>
            <td *ngIf="setoresVisibilidadeValues['declaracoes-rh'] == true" >
                <p-checkbox (onChange)="setDeparamentoPessoal(item)" 
                            [readonly]="!permissoesDctf['DCTF004']"
                            [binary]="true" 
                            [style]="{'text-align': 'center','align-content': 'center'}" 
                            [(ngModel)]="item.esocial_rh_interno">
                </p-checkbox>
            </td>
            <td *ngIf="setoresVisibilidadeValues['rh'] == true">
                <p-checkbox 
                    [binary]="true" 
                    [readonly]="!permissoesDctf['DCTF005']"
                    [pTooltip]="item.esocial_usuario_nome ? 'Usuário ' + item.esocial_usuario_nome : '' "  
                    (onChange)="setCheckEsocial(item)" 
                    [style]="{'text-align': 'center','align-content': 'center'}" 
                    [(ngModel)]="item.esocial_check">
                 </p-checkbox>
            </td>
            <td *ngIf="setoresVisibilidadeValues['rh'] == true">
                <p-checkbox [binary]="true"
                    [readonly]="!permissoesDctf['DCTF006']"
                    [pTooltip]="item.esocial_ret_usuario_nome ? 'Usuário ' + item.esocial_ret_usuario_nome : '' "  
                    (onChange)="setRetEsocial(item)" 
                    [style]="{'text-align': 'center','align-content': 'center'}" 
                    [(ngModel)]="item.esocial_ret">
                </p-checkbox>
            </td> 
            <td *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true">
                <p-checkbox [pTooltip]="item.efd_usuario_nome ? 'Usuário ' + item.efd_usuario_nome : '' " 
                    [readonly]="!permissoesDctf['DCTF008']"
                    (onChange)="setCheckEfd(item)" 
                    [binary]="true" [style]="{'text-align': 'center','align-content': 'center'}" 
                    [(ngModel)]="item.efd_check">
                </p-checkbox></td>
            <td *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true">
                <p-checkbox [pTooltip]="item.efd_usuario_nome ? 'Usuário ' + item.efd_usuario_nome : '' "
                    [readonly]="!permissoesDctf['DCTF008']"
                    (onChange)="setSemRetencoes(item)" [binary]="true" 
                    [style]="{'text-align': 'center','align-content': 'center'}" 
                    [(ngModel)]="item.sem_ret_inss">
                </p-checkbox>
            </td>
            <td *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true">
                <p-checkbox 
                     [readonly]="!permissoesDctf['DCTF009']"
                     [pTooltip]="item.efd_usuario_nome ? 'Usuário ' + item.efd_ret_usuario_nome : '' "
                     (onChange)="setEfdRet(item)" 
                     [binary]="true" [style]="{'text-align': 'center','align-content': 'center'}"
                     [(ngModel)]="item.efd_ret">
                </p-checkbox>
            </td>
            <td *ngIf="setoresVisibilidadeValues['fiscal-retencao'] == true">
                <p-checkbox 
                    [readonly]="!permissoesDctf['DCTF010']"
                    (onChange)="setDesobrigarEfd(item)" 
                    [binary]="true" 
                    [style]="{'text-align': 'center','align-content': 'center'}" 
                    [(ngModel)]="item.efd_desobrigar">
                </p-checkbox>
            </td>
            <td *ngIf="setoresVisibilidadeValues['rh'] == true">
                <p-checkbox 
                     [binary]="true" 
                     [readonly]="!permissoesDctf['DCTF011']"
                     (onChange)="setSemfolha(item)" 
                     [style]="{'text-align': 'center','align-content': 'center'}" 
                     [(ngModel)]="item.conferencia_check">
                </p-checkbox>
            </td>
            <td *ngIf="setoresVisibilidadeValues['declaracoes'] == true">
                <p-checkbox  
                    [readonly]="!permissoesDctf['DCTF012']"
                    (onChange)="setSemfolha(item)" 
                    [binary]="true"  [style]="{'text-align': 'center','align-content': 'center'}" 
                    [(ngModel)]="item.dctf_check">
                </p-checkbox>
            </td>
            <td *ngIf="setoresVisibilidadeValues['declaracoes'] == true">
                <p-checkbox 
                    (onChange)="setSemfolha(item)" 
                    [readonly]="!permissoesDctf['DCTF012']"
                    [binary]="true"  
                    [style]="{'text-align': 'center','align-content': 'center'}" 
                    [(ngModel)]="item.dctf_ret">
                </p-checkbox>
            </td>
            <td *ngIf="setoresVisibilidadeValues['declaracoes'] == true">
                <p-checkbox 
                    [readonly]="!permissoesDctf['DCTF013']"
                    (onChange)="setSemfolha(item)" 
                    [binary]="true"  
                    [style]="{'text-align': 'center','align-content': 'center'}" 
                    [(ngModel)]="item.dctf_desobrigada">
                 </p-checkbox></td>
            <td *ngIf="setoresVisibilidadeValues['rh-controller'] == true">
                <p-checkbox (onChange)="setSemfolha(item)" 
                            [binary]="true"  
                            [style]="{'text-align': 'center','align-content': 'center'}" 
                            [(ngModel)]="item.darf_check">
                </p-checkbox>
            </td>
            <td *ngIf="setoresVisibilidadeValues['rh-controller'] == true"><p-checkbox  
                [readonly]="!permissoesDctf['DCTF015']"
                (onChange)="setSemfolha(item)" 
                [binary]="true" 
                [style]="{'text-align': 'center','align-content': 'center'}" 
                [(ngModel)]="item.darf_comp_check">
            </p-checkbox></td>
            <td>
                <button type="button" pButton pRipple
                icon="pi pi-pencil" class="mr-2" pTooltip="Editar DCTF WEB" (click)="showModalEdit(item)" tooltipPosition="bottom"></button> 
                <button type="button" pButton pRipple
                icon="pi pi-envelope" class="mr-2" pTooltip="Emails da Empresa" (click)="showModalEmailsEmpresa(item)" tooltipPosition="bottom"></button> 
                <button type="button" pButton pRipple
                icon="pi pi-trash" (click)="deleteEmpresaDctf(item)" class="mr-2" pTooltip="Excluir DCTF" tooltipPosition="bottom"></button> 
            </td>
        </tr>
    </ng-template>

   
</p-table>

<app-modais-listagem-empresas
  [displaymodalEdicaoEmpresaDctf]="displaymodalEdicaoEmpresaDctf"
  [displaymodalEmailsEmpresas]="displaydModalEmailEmpresas"
  (closedModalEditDctf)="closedModalEditDctf()"
  (closedModalEmailEmpresas)="closedModalEmailEmpresas()"
  [payloadModalEditEmpresaDctf]="payloadModalEditEmpresaDctf"
  [payloadModalEmailEpresas]="payloadModalEmailEpresas"
></app-modais-listagem-empresas>
</div>