<div>

  <p-sidebar  [style]="{'height':'50000px',  'z-index':'10000'}" (onHide)="onHide()"  [(visible)]="showFilters">
    <h4><i class="fa fa-filter mb-3"></i> Filtro
      <button  class="btn btn-outline-danger btn-sm float-right"
      style="margin: auto!important;">
      <i class="fa fa-eraser"></i> Limpar</button>
    </h4>


    <div class="row mx-1 mt-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 px-1" style="padding: 0;">
          <div class="ui-grid ui-grid-responsive ui-fluid">
              <label for="responsavel">Empresa</label>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <p-dropdown [filter]="true" filterBy="name"  placeholder="Select a Country"
                  [style]="{'minWidth':'100%'}" (onClear)="onClearFields('empresa')"  [options]="filtroEmpresas"  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedEmpresaFiltro" (onChange)="setFilter('empresa', selectedEmpresaFiltro.value)"  [showClear]="true" placeholder="Select a Country" optionLabel="name"></p-dropdown>
                </div>
            </div>
          </div>
      </div>
    </div>


    <div class="row mx-1 mt-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 px-1" style="padding: 0;">
          <div class="ui-grid ui-grid-responsive ui-fluid">
              <label for="responsavel">Código</label>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <input [(ngModel)]="filters.codigo" type="text"
                  [ngModelOptions]="{standalone: true}"  (onClear)="onClearFields('codigo')" (change)="search"  class="form-control" placeholder="">
                </div>
            </div>
          </div>
      </div>
    </div>


    <div class="row mx-1 mt-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 px-1" style="padding: 0;">
          <div class="ui-grid ui-grid-responsive ui-fluid">
              <label for="responsavel">Tarefa</label>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <p-dropdown [filter]="true" filterBy="name"  (onClear)="onClearFields('tarefa')" [options]="tarefas" (onChange)="setFilter('tarefa', selectedTarefaFiltro.value)"  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedTarefaFiltro"   [showClear]="true" placeholder="Select a Country"
                  [style]="{'minWidth':'100%'}" 
                  optionLabel="name"></p-dropdown>  
                </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row mx-1 mt-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 px-1" style="padding: 0;">
          <div class="ui-grid ui-grid-responsive ui-fluid">
              <label for="responsavel">Status</label>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <p-dropdown [filter]="true" filterBy="name"  (onClear)="onClearFields('status')"  [options]="status" (onChange)="setFilter('status', selectedStatusFiltro.value)"  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedStatusFiltro"   [showClear]="true" placeholder="Select a Country"
                  [style]="{'minWidth':'100%'}" 
                  optionLabel="name"></p-dropdown>
                </div>
            </div>
          </div>
      </div>
    </div>


    <div class="row mx-1 mt-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 px-1" style="padding: 0;">
          <div class="ui-grid ui-grid-responsive ui-fluid">
              <label for="responsavel">Tributação</label>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <p-dropdown [filter]="true" filterBy="name"  (onClear)="onClearFields('tributacao')" [options]="tributacao" (onChange)="setFilter('tributacao', selectedTributacaoFiltro.value)"  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedTributacaoFiltro"  [showClear]="true" placeholder="Select a Country"
                  [style]="{'minWidth':'100%'}" 
                  optionLabel="name"></p-dropdown>
                </div>
            </div>
          </div>
      </div>
    </div>


    <div class="row mx-1 mt-3">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 px-1" style="padding: 0;">
          <div class="ui-grid ui-grid-responsive ui-fluid">
              <label for="responsavel">Usuário Executor</label>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <p-dropdown [filter]="true" filterBy="name"  (onClear)="onClearFields('tributacao')" [options]="tributacao" (onChange)="setFilter('tributacao', selectedTributacaoFiltro.value)"  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedTributacaoFiltro"  [showClear]="true" placeholder="Select a Country"
                  [style]="{'minWidth':'100%'}" 
                  optionLabel="name"></p-dropdown>
                </div>
            </div>
          </div>
      </div>
    </div>
   
  </p-sidebar>
  
  <ngx-spinner
  name="loading"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fcca43"
  type="ball-spin-clockwise-fade">
  <p class="p-customizado">Carregando...</p>
</ngx-spinner>

  
<div class="row">
  <div class="col-12 px-0" style="display: flex;justify-content: space-between;align-items: flex-end;">
    <div class="ui-g ui-fluid">
      <div class="ui-inputgroup">
        <button (click)="showFiltersTrigger()" class="btn btn-sm btn-warning mb-1 ml-1">
          <i class="fa fa-filter" title="Filtrar dados"></i></button>

        <button class="btn btn-sm btn-outline-dark mb-1 mx-1" >
          <i class="fa fa-file-excel" title="Exportar para Excel"></i></button>

         
          <div _ngcontent-otj-c64="" class="p-inputgroup"><span _ngcontent-otj-c64="" class="p-inputgroup-addon"><i _ngcontent-otj-c64="" class="pi pi-search"></i></span><input _ngcontent-otj-c64="" type="text" pinputtext="" placeholder="Buscar" class="p-inputtext p-component p-element ng-untouched ng-pristine ng-valid"></div>
      </div>
    
  
    </div>
  </div>




</div>
